<link rel="stylesheet" href="/stylesheets/post.css">
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8 ">
            <!-- Posts -->
            <div class="row">
                <div class="col-12 post-image">
                    <img src="/blog-images/{{blog._id}}.png" class="img-fluid post-image" alt="">
                </div>
                <div class="col-12">
                    <div class="post-head pl-2 pt-1">
                        <div class="post-title">{{blog.title}}</div>
                        <div class="post-date">Posted on <span>{{blog.date}}</span></div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 post-content pt-1">{{blog.blog}}<p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">Leave a comment</li>
                    </ol>
                    <form action="">
                        <div class="form-group comment-form">
                            <label for="comment">Comment *</label>
                            <textarea rows="5" name="comment" id="comment" class="form-control"></textarea>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <label for="name">Name *</label>
                                <input type="text" name="name" id="name" class="form-control">
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="email">Email address *</label>
                                <input type="email" name="email" id="email" class="form-control">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm btn-block p-2 mt-3">Submit</button>
                    </form>
                </div>
            </div>
            <br>
            <!-- Posts End -->
        </div>
        <!-- --------------------------------------------------------- -->
        <div class="col-12 col-lg-4 ">
            <!-- breadcrumb -->
            {{#if readNext}}
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Read next</li>
            </ol>
            {{/if}}
            <!-- Recent posts -->
            {{#each readNext}}
            <div class="row recent-post">
                <div class="col-5 p-0">
                    <a href="/read-blog?id={{this._id}}&category={{this.category}}">
                        <img src="/blog-images/{{this._id}}.png" class="img-fluid recent-post-image" alt=""></a>
                </div>
                <div class="col-7 my-auto p-3 recent-post-content">
                    <div class="recent-post-category">{{this.category}}</div>
                    <a href="/read-blog?id={{this._id}}&category={{this.category}}">
                        <div class="recent-post-title">{{this.title}}</div>
                    </a>
                    <div class="recent-post-date">{{this.date}}</div>
                </div>
            </div>
            {{/each}}
            <!-- Categories -->
            <div class="categories">
                <div class="categories-title">Categories</div>
                <ul>
                    {{!-- Do console log and check the data format. Here _id = category name, categoryLookup._id= categoryId --}}
                    {{#each categoryDetails}}
                    <li><i class="square-icon"></i><a href="/category?id={{this.categoryLookup._id}}">{{this._id}}
                            ({{this.count}})</a></li>
                    <hr>
                    {{/each}}
                </ul>
            </div>
            <!-- Categories end-->
        </div>
    </div>
    <br>
</div>